{% extends "index.html" %}
{% load static %}
{% block content %}
    <div class="menu-pages__img"
         style="background-image:url({% static 'img/delivery.jpeg' %}); width: 100%; height: 400px; ; background-size: cover; margin-top: 20px;">
        <div class="container">
            <div class="menu-pages__top-info" style="padding: 170px;"><h1
                    style="color: white; margin: 0; font-weight: bold; font-size: 50px;">
                Доставка і оплата</h1></div>
        </div>
    </div>
    <div class="container container_text"
         style="margin-top: 20px;"><p>
        <strong>Доставка</strong><br>
        Задля вашої зручності, ми доставляємо замовлення службою «Нова Пошта» у будь-який куточок країни. Доставка
        здійснюється за тарифами перевізника. Також ви маєте змогу забрати замовлення самостійно зі складу у Києві,
        Львові, Одесі або Дніпрі.<br>
        Вартість доставки розраховується відповідно до тарифів сервісу доставки.</p>
        <p><strong>Для роздрібних покуців, при замовленні товарів на сумму більше ніж 1500 грн,&nbsp;доставка на
            відділення через службу "Нова Пошта" безкоштовна.</strong></p>
        <p><strong>Оплата</strong><br>
            Ви маєте змогу оплатити замовлення онлайн на сайті&nbsp;картами Visa та MasterCard - WayForPay або в касу
            при самовивозі - готівкою або безготівково. Для платників ПДВ доступна лише оплата на розрахунковий рахунок.
        </p>
        <p><strong>Повернення та обмін</strong><br>
            Згідно із Законом України «Про захист прав споживачів» покупець має право обміняти товар на аналогічний
            протягом 14 днів, якщо куплений товар не підійшов за формою, габаритами, фасоном, кольором, розміром або з
            інших причин, і якщо збережено товарний вигляд, ярлики і розрахунковий документ, виданий продавцем разом із
            товаром. Виняток становлять товари, які не підлягають поверненню за Законом, їх перелік ви можете
            переглянути <a href="https://zakon2.rada.gov.ua/laws/show/172-94-%D0%BF">за посиланням</a>.</p>
        <p><strong>Контактна&nbsp;інформація:</strong><br>
            Товариство з обмеженою відповідальністю «ТК-Домашній текстиль»;<br>
            ЄДРПОУ 38192655;<br>
            Юр. адреса: 02081, м. Київ, вул. Сортувальна, 2;<br>
            info@tk-domtex.com.ua<br>
            тел.: (044) 239 20 03</p></div>
{% endblock content %}
